html{
    background-color: white;
    background: url(earth.png) center/100% no-repeat fixed;
    height: 1600px;
    color: rgb(35, 35, 35);
    font-family: 'Roboto Condensed', sans-serif;
}


nav a{
    text-decoration: none;
    background: rgba( 235, 235, 235, .7); 
    padding: 5px 30px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

nav ul > li{
    float: left;
    list-style: none;
    margin-top: 0;
}


div h1{
    text-align: center;
    padding: 50px 0px;
    margin-top: 10px;
    font-size: 75px;
    color: rgb( 235, 235, 235);
}

h2{
    padding-left: 20px;
}

h3{
    text-align: center;
    color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: 30px;
}

div.head{
    padding-top: 110px;
    padding-bottom: 400px;
}


section{
    background: rgba( 235, 235, 235, .9);
    width: 80%;
    margin: 0px 50px;
    margin-left: 140px;
    margin-bottom: 300px;
    padding-bottom: 15px;
}

section h1{
    text-align: center;
    font-size: 35px;
    color: rgb( 235, 235, 235);
    background: rgba(0, 0, 0, .9);
    padding: 15px 0px;
}

footer{
    text-align: center;
    margin-bottom: 0;
    font-size: 17px;
    padding: 2px;
    color: rgb( 235, 235, 235);
    background: rgba(0, 0, 0, .9);
}

div.row{
    text-align: center;
    border-radius: 30px;
    background-color: #b1b1b1;
    padding: 5px;
    margin: 100px;
    height: 200px;
}

div#sphere{
    height: 450px;
}

div p{
    margin-left: 45px;
    font-size: 20px;
    padding-right: 50px;
}

div.col{
    width: 100%;
    float: left;
    padding: 10px 0px;
    color: rgb(73, 73, 73);
}


